<?xml version='1.0' encoding='utf-8' ?>
<plugin id="com-moussam-imageviewer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ImageViewer</name>
	<description>This plugin is used to show a images from an  URL into a image Viewer with zoom features for ionic 4.</description>
	<js-module name="ImageViewer" src="www/ImageViewer.js">
		<clobbers target="ImageViewer" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ImageViewer">
				<param name="android-package" value="com.moussam.imageviewer.ImageViewer" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.moussam.imageviewer.ImageActivity" android:theme="@style/ImageViewerTheme" />
		</config-file>
		
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/ImageViewer.java" target-dir="src/com/moussam/imageviewer" />
		<source-file src="src/android/ImageActivity.java" target-dir="src/com/moussam/imageviewer" />

		<source-file src="src/android/layout/activity_image.xml" target-dir="res/layout" />
		<source-file src="src/android/values/styles.xml" target-dir="res/values" />

		<framework src="src/android/imageviewer.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
